:root {
    --maincolor1: rgb(25, 55, 75);
    --maincolor2: rgb(5, 10, 15);
    --maincolor3: rgba(30, 40, 50,0.6);
}

/* https://active-vision.ru/icon/gradient/ generated */
.gradient {
    background: -webkit-linear-gradient(45deg, var(--maincolor2) 9%, var(--maincolor1) 65%, var(--maincolor2));
    background: -moz-linear-gradient(45deg, var(--maincolor2) 9%, var(--maincolor1) 65%,var(--maincolor2));
    background: linear-gradient(45deg, var(--maincolor2) 9%, var(--maincolor1) 65%, var(--maincolor2));
}
