<style>
    .visible{
        display:block;
    }

    .invisible {
        display: none;
    }

    #drawingPlace {
        display: grid;
        grid-template-columns: 200px 1fr;
        height: 100vh;
    }

    #canvas-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #canvas1, #canvas2 {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>

<div id="groupPage" class="visible">
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-12 gradient position-relative">
                <div class="position-absolute top-50 start-50 translate-middle rounded-4 p-2 col-4 
text-white border border-4 border-primary border-opacity-10 shadow-lg"
                style="background-color: var(--maincolor3);">
                    <div id="chooseGroup">
                        <input type="number" value="0" min="0" id="groupIdInput" placeholder="group id">
                        <button onclick="createGroup(document.getElementById('groupIdInput').value);">Create</button>
                    </div>
                    <div>Name: </div>
                    <input id="currentNameHome" type="text">
                    <button id="btnName">Set</button>
                    <div id="currentStatusHome">Status: Senior</div>
                    <div id="userList"></div>
                    <select id="statusSelect">
                        <option value="Senior">Senior</option>
                        <option value="Middle">Middle</option>
                        <option value="Junior">Junior</option>
                    </select>
                    <button id="btnStatus">Set</button>
                    <div id="groupList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="drawPage" class="invisible">
    <div id="drawingPlace">
        <div>
            <button onclick="setMode('line')">line</button>
            <button onclick="setMode('square')">square</button>
            <button onclick="setMode('pen')">pen</button>
            <button onclick="setMode('circle')">circle</button>
            <button onclick="setMode('text')">text</button>
            <input id="textToDraw" placeholder="text to write" type="text">
            <input type="color" id="colorInput" value=black>
            <div id="showGroupId"></div>
            <div id="currentStatusMain">Status: Senior</div>
            <div>Name: </div>
            <div id="currentNameMain"></div>
            <button onclick="loadHome()">Go home</button>
            <button onclick="saveCanvasAsJpeg();">Download</button>
        </div>
        <div>
            <div id="canvas-container">
                <canvas id="canvas1" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 1; border: 1px solid black"></canvas>
                <canvas id="canvas2" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 2"></canvas>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import { DrawingApp } from '/js/DrawingApp.js';

    const app = new DrawingApp();
    app.init();

</script>
<script>
    function saveCanvasAsJpeg() {
        const canvas = document.getElementById('canvas1');

        const tempCanvas = document.createElement('canvas');
        tempCanvas.width = canvas.width;
        tempCanvas.height = canvas.height;
        const tempCtx = tempCanvas.getContext('2d');

        tempCtx.fillStyle = "white";
        tempCtx.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

        tempCtx.drawImage(canvas, 0, 0);

        const dataUrl = tempCanvas.toDataURL('image/jpeg', 0.9);

        const link = document.createElement('a');
        link.download = 'my-drawing.jpg';
        link.href = dataUrl;
        link.click();
    }
</script>