@{
    Layout = null;
}
<style>
    .visible{
        display:block;
    }

    .invisible {
        display: none;
    }

    #drawingPlace {
        display: grid;
        grid-template-columns: 200px 1fr;
        height: 100vh;
    }

    #canvas-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #canvas1, #canvas2 {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>

<div id="groupPage" class="visible">
    <div id="chooseGroup">
        <h1>Choose group</h1>
        <input type="text" id="groupIdInput" placeholder="group id">
        <br>
        <button id="joinBtn" onclick="setGroupFromInput();loadMain()">Create or Join</button>
    </div>
    <div id="groupList"></div>
</div>

<div id="drawPage" class="invisible">
    <div id="drawingPlace">
        <div>
            <button onclick="setMode('line')">line</button>
            <button onclick="setMode('square')">square</button>
            <button onclick="setMode('pen')">pen</button>
            <h2 id="showGroupId">Group: </h2>
        </div>
        <div>
            <div id="canvas-container">
                <canvas id="canvas1" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 1; border: 1px solid black"></canvas>
                <canvas id="canvas2" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 2"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { DrawingApp } from '/js/DrawingApp.js';

    const app = new DrawingApp();
    app.init();

</script>