@{
    Layout = null;
}

<canvas id="canvas" width="800" height="800" style="border: 1px solid black"></canvas>
<button onclick="setMode('line')">line</button>
<button onclick="setMode('square')">square</button>
<button onclick="setMode('pen')">pen</button>


<input type="number" id="posX" value="10">
<input type="number" id="posY" value="10">
<input type="text" id="type">
<button onclick="sendData()">Send</button>

<div id="log"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    const log = document.getElementById('log');
    const canvas = document.getElementById('canvas');

    let currentMode = 'line';
    let isDrawing = false;
    let lastX = 0;
    let lastY = 0;
    
    
    // SignalR

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hub")
        .build();

    connection.on("Update", function (typeReceive, message) {
        drawCanvas(message);
    });

    function sendData(data) {
        connection.invoke("Draw", data);
    }

    connection.start().then(() => {
        connection.invoke("History");
    });

    // SignalR
    // Canvas

    canvas.onmousedown = (e) => {
        isDrawing = true;
        lastX = e.offsetX;
        lastY = e.offsetY;
    };

    canvas.onmouseup = (e) => {
        if (!isDrawing) 
        {
            return;
        }
        isDrawing = false;
    };

    canvas.onmousemove = (e) => {
        if (!isDrawing)
        {
            return;
        }

        if (currentMode === 'pen') {
            const data = {
                point1: { x: lastX, y: lastY },
                point2: { x: e.offsetX, y: e.offsetY },
                type: 'line' 
            };

            lastX = e.offsetX;
            lastY = e.offsetY;

            sendData(data);
        } 
        else if (currentMode == 'line')
        {    
            const data = {
                point1: { x: lastX, y: lastY },
                point2: { x: e.offsetX, y: e.offsetY },
                type: currentMode
            };

            sendData(data);
        }
        else if(currentMode == 'square')
        {
            const data = {
                point1: { x: lastX, y: lastY },
                point2: { x: e.offsetX, y: e.offsetY },
                type: currentMode
            };

            sendData(data);
        }
    }

    function setMode(mode) {
        currentMode = mode;
    }

    function drawCanvas(data) {
        const ctx = canvas.getContext('2d');

        ctx.beginPath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = 'black';

        if (data.type === 'line')
        {
            ctx.moveTo(data.point1.x, data.point1.y);
            ctx.lineTo(data.point2.x, data.point2.y);
        } 
        else 
        {
            const width = data.point2.x - data.point1.x;
            const height = data.point2.y - data.point1.y;

            ctx.strokeRect(data.point1.x, data.point1.y, width, height);
        }
        ctx.stroke();
    }

    // Canvas

</script>