@{
    Layout = null;
}
<style>
    .visible{
        display:block;
    }

    .invisible {
        display: none;
    }

    #drawingPlace {
        display: grid;
        grid-template-columns: 200px 1fr;
        height: 100vh;
    }

    #canvas-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #canvas1, #canvas2 {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>

<div id="groupPage" class="visible">
    <div id="chooseGroup">
        <h1>Choose group</h1>
        <input type="text" id="groupIdInput" placeholder="group id">
        <br>
        <button id="joinBtn" onclick="setGroupFromInput();startJoinRealGroup()">Create or Join</button>
    </div>
    <div id="groupList"></div>
</div>

<div id="drawPage" class="invisible">
    <div id="drawingPlace">
        <div>
            <button onclick="setMode('line')">line</button>
            <button onclick="setMode('square')">square</button>
            <button onclick="setMode('pen')">pen</button>
            <h2 id="showGroupId">Group: </h2>
        </div>
        <div>
            <div id="canvas-container">
                <canvas id="canvas1" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 1; border: 1px solid black"></canvas>
                <canvas id="canvas2" width="800" height="800"
                        style="position: absolute; left: 0; top: 0; z-index: 2"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    const groupPage = document.getElementById("groupPage");
    const drawPage = document.getElementById("drawPage");
    const groupList = document.getElementById("groupList");
    const canvas = document.getElementById('canvas1');
    const previewCanvas = document.getElementById('canvas2');
    const ctx = canvas.getContext('2d');
    const previousCtx = previewCanvas.getContext('2d');

    let currentMode = 'pen';
    let isDrawing = false;
    let lastX = 0;
    let lastY = 0;
    let previewStore = {};
    let currentGroup = "Home";
        

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hub")
        .build();

    function myConnectedId() {
        return connection.connectionId;
    }

    function makeCanvasId(id)
    {
        return `${id}GroupId`;
    }
    function makePreviewCanvasId(id)
    {
        return `${id}previewGroupId`;
    }

    function History(groupId) {
        connection.invoke("History", myConnectedId() ,groupId);
    }

    function JoinGroup(groupId) {
        connection.invoke("JoinGroup", myConnectedId() ,groupId);
    }

    function Draw(data,groupId) {
        connection.invoke("Draw", data, myConnectedId(), groupId);
    }

    function AvaliableGroups() {
        connection.invoke("AvaliableGroups",myConnectedId());
    }

    function LeaveGroup(groupId) {
        connection.invoke("LeaveGroup", myConnectedId() ,groupId);
    }

    function resizeCanvas() {
        const container = document.getElementById('canvas-container');

        canvas.width = container.clientWidth;
        canvas.height = container.clientHeight;
        previewCanvas.width = container.clientWidth;
        previewCanvas.height = container.clientHeight;
    }

    function startJoinRealGroup()
    {
        LeaveGroup("Home");

        JoinGroup(currentGroup);
        History(currentGroup);

        groupPage.classList.replace('visible', 'invisible');
        drawPage.classList.replace('invisible', 'visible');
        resizeCanvas();
    }

    function startDrawing(targetCtx, targetPrevCtx, message, clientConnectionId, groupId) {

        if (!previewStore[groupId]) {
            previewStore[groupId] = {};
        }

        if (message.type === 'line' || message.type === 'square') {
            if (message.isPreview) {
                previewStore[groupId][clientConnectionId] = message;
                drawPreviewCanvas(targetPrevCtx, groupId);
            } else {
            if (previewStore[groupId])
                delete previewStore[groupId][clientConnectionId];
                drawPreviewCanvas(targetPrevCtx, groupId);
                drawCanvas(targetCtx, [message]);
            }
        }
    }

    connection.on("Update", function (message, clientConnectionId, groupId) {
        console.log(groupId);
        if (groupId === currentGroup) {
            startDrawing(ctx, previousCtx, message, clientConnectionId,groupId);
        }
        else
        {
            const thumbC = document.getElementById(makeCanvasId(groupId));
            const thumbP = document.getElementById(makePreviewCanvasId(groupId));
            
            startDrawing(thumbC.getContext('2d'), thumbP.getContext('2d'), message, clientConnectionId,groupId);
        }
    });

    connection.on("GroupName", function (data, clientConnectedId) {
        groupList.innerHTML = ""; 
        console.log("GroupName",data);
        for (let id in data) {
            const groupId = data[id];
            
            if(groupId == "Home")
            {
                continue;
            }

            const container = document.createElement("div");
            container.style.display = "inline-block";
            container.style.verticalAlign = "top";

            const containerCanvas = document.createElement("div");
            containerCanvas.style.position = "relative";
            containerCanvas.style.width = "100px";
            containerCanvas.style.height = "100px";

            const canvas = document.createElement("canvas");
            canvas.id = makeCanvasId(groupId);
            canvas.width = 800;
            canvas.height = 800;
            canvas.style.width = "100px";
            canvas.style.height = "100px";
            canvas.style.position = "absolute";
            canvas.style.border = "1px solid gray";
            canvas.style.zIndex = 1;

            const previewCanvas = document.createElement("canvas");
            previewCanvas.id = makePreviewCanvasId(groupId);
            previewCanvas.width = 800;
            previewCanvas.height = 800;
            previewCanvas.style.width = "100px";
            previewCanvas.style.height = "100px";
            previewCanvas.style.position = "absolute";
            previewCanvas.style.border = "1px solid gray";
            previewCanvas.style.zIndex = 2;

            const label = document.createElement("div");
            label.innerText = groupId;

            const btn = document.createElement("button");
            btn.innerText = "Join Group";
            btn.style.display = "block";
            btn.onclick = function() {
                console.log(groupId);
                currentGroup = groupId;
                startJoinRealGroup();
            };

            containerCanvas.appendChild(canvas);
            containerCanvas.appendChild(previewCanvas);
            container.appendChild(containerCanvas);
            container.appendChild(label);
            container.appendChild(btn);
            groupList.appendChild(container);

           // canvas.getContext('2d').scale(0.125, 0.125);
            //previewCanvas.getContext('2d').scale(0.125, 0.125);

            History(groupId);
        }
    });

    connection.start().then(() => {


        // window.canvas = document.getElementById(makeCanvasId(myConnectedId());
        // window.previewCanvas = document.getElementById(makePreviewCanvasId(myConnectedId()));
        // window.ctx = window.canvas.getContext('2d');
        // window.previousCtx = window.previewCanvas.getContext('2d');

        JoinGroup("Home");
        AvaliableGroups();

        mouseActions();
    })


    //-----------------------------------------------------

    function mouseActions() {
        const pCanvas = document.getElementById(makePreviewCanvasId("Home"));

        previewCanvas.onmousedown = (e) => {
            isDrawing = true;
            lastX = e.offsetX;
            lastY = e.offsetY;
        };

        previewCanvas.onmouseup = (e) => {
            mouseup(e.offsetX, e.offsetY);
        };

        previewCanvas.onmouseleave = (e) => {
            mouseup(e.offsetX, e.offsetY);
        };

        previewCanvas.onmousemove = (e) => {
            if (!isDrawing) return;

            if (currentMode === 'pen') {
                const data = {
                    point1: { x: lastX / canvas.width, y: lastY  / canvas.height},
                    point2: { x: e.offsetX / canvas.width, y: e.offsetY  / canvas.height},
                    type: 'line',
                    isPreview: false
                };
                lastX = e.offsetX;
                lastY = e.offsetY;
                Draw(data, currentGroup);
            } 
            else if (currentMode == 'line' || currentMode == 'square') {
                const data = {
                    point1: { x: lastX / canvas.width, y: lastY  / canvas.height},
                    point2: { x: e.offsetX / canvas.width, y: e.offsetY  / canvas.height},
                    type: currentMode,
                    isPreview: true
                };
                Draw(data, currentGroup);
            }
        };
    }

    function mouseup(X, Y) {
        if (!isDrawing)
        {
            return;
        }
        isDrawing = false;

        if (currentMode === 'pen') {
            const data = {
                point1: { x: lastX  / canvas.width, y: lastY   / canvas.height},
                point2: { x: X  / canvas.width, y: Y  / canvas.height},
                type: 'line',
                isPreview: false
            };
            lastX = X;
            lastY = Y;
            Draw(data,currentGroup);
        }
        else {
            const data = {
                point1: { x: lastX  / canvas.width, y: lastY   / canvas.height},
                point2: { x: X  / canvas.width, y: Y  / canvas.height},
                type: currentMode,
                isPreview: false
            };
            Draw(data,currentGroup);
        }
    }   

    function setMode(mode) {
        currentMode = mode;
    }

    function setGroupFromInput() {
        currentGroup = document.getElementById('groupIdInput').value;
    }

    function drawCanvas(targetCtx, data) {
        targetCtx.beginPath();
        targetCtx.lineWidth = 5;
        targetCtx.strokeStyle = 'black';

        const w = targetCtx.canvas.width;
        const h = targetCtx.canvas.height;

        for(let el of data)
        {
            const x1 = el.point1.x * w;
            const y1 = el.point1.y * h;
            const x2 = el.point2.x * w;
            const y2 = el.point2.y * h;

            if (el.type === 'line') 
            {
                targetCtx.moveTo(x1, y1);
                targetCtx.lineTo(x2, y2);
            } 
            else if (el.type === 'square')
            {
                const width = x2 - x1;
                const height = y2 - y1;

                targetCtx.strokeRect(x1, y1, width, height);
            }
        }
        targetCtx.stroke();
    }

    function drawPreviewCanvas(targetPreviewCtx, groupId) {
        targetPreviewCtx.clearRect(0, 0, previewCanvas.width, previewCanvas.height);
        
        const groupStore = previewStore[groupId];
        for (let id in groupStore) {
            const el = groupStore[id];
            const w = targetPreviewCtx.canvas.width;
            const h = targetPreviewCtx.canvas.height;

            const x1 = el.point1.x * w;
            const y1 = el.point1.y * h;
            const x2 = el.point2.x * w;
            const y2 = el.point2.y * h;

            targetPreviewCtx.beginPath();
            targetPreviewCtx.lineWidth = 5;
            targetPreviewCtx.strokeStyle = 'rgba(0,0,0,0.3)';
            targetPreviewCtx.strokeStyle = 'black';

            if (el.type === 'line')
            {
                targetPreviewCtx.moveTo(x1, y1);
                targetPreviewCtx.lineTo(x2, y2);
            } else if (el.type === 'square')
            {
                const width = x2 - x1;
                const height = y2 - y1;

                targetPreviewCtx.strokeRect(x1, y1, width, height);
            }
            targetPreviewCtx.stroke();
        }
    }
</script>